---
layout: category
title: Rakhim's bookshelf
permalink: /bookshelf/
summary: The books I read and didn't forget about.
cover_url: /images/book_covers/stockholm_library.jpg
---

<div class="bookshelf_wrapper">

  <h1>Bookshelf</h1>

  <h3 class="bookshelf_year mb3">2018</h3>

  <div class="posts mt3">
    {% for book in site.data.bookshelf_2018 %}
      {% include bookshelf_book.html %}
    {% endfor %}
  </div>


  <h3 class="bookshelf_year mb3 mt4">2017</h3>

  <div class="posts mt3">
    {% for book in site.data.bookshelf_2017 %}
      {% include bookshelf_book.html %}
    {% endfor %}
  </div>

  <h3 class="bookshelf_year mb3 mt4">2016</h3>

  <div class="posts mt3">
    {% for book in site.data.bookshelf_2016 %}
      {% include bookshelf_book.html %}
    {% endfor %}
  </div>

  <h3 class="bookshelf_year mb3 mt4">2015</h3>

  <div class="posts mt3">
    {% for book in site.data.bookshelf_2015 %}
      {% include bookshelf_book.html %}
    {% endfor %}
  </div>

  <h3 class="bookshelf_year mb3 mt4">Before 2015</h3>



  <div class="posts mt3">
    <p class="mb4">
      I didn't really track books before 2015. Here is a short list of some books I really loved and remembered from that ancient past. Everything else is lost and forgotten forever.
    </p>

    {% for book in site.data.bookshelf_pre_2015 %}
      {% include bookshelf_book.html %}
    {% endfor %}
  </div>

</div>
