---
layout: page
title: Напишите мне зачем-то
permalink: /contact/
---

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="Ваша почта">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="О, а тут должен быть текст"></textarea>
      <input type="hidden" name="_subject" value="Сообщение из блога" />
      <input type="text" name="_gotcha" style="display:none" />
      <button type='submit' class="button button-blue button-big mobile-block">Отправить письмо</button>
    </form>
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="Ваша почта">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="О, а тут должен быть текст"></textarea>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="Сообщение из блога" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="button button-blue button-big mobile-block" value="Отправить письмо">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
