---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="h2 post-title">
            {{ post.title }}
            {% if post.featured %}&nbsp;★{% endif %}
          </h3>
        </a>
        {% if post.category == 'Travel' %}
          {% if post.cover_url %}
            <p>
              <a href="{{ post.url | prepend: site.baseurl }}">
                <img width="100%" height="auto" src="{{ post.cover_url }}">
              </a>
            </p>
          {% endif %}
        {% endif %}
        <p class="post-summary">
            {{ post.content }}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
