---
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">        
        
        <h2 class="post-title mt0 mb0">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          {{ post.title }}
          {% if post.featured %}&nbsp;★{% endif %}
          </a>
        </h2>
        
        {% if post.category == 'Travel' %}
          {% if post.cover_url %}
            <p>
              <a href="{{ post.url | prepend: site.baseurl }}">
                <img width="100%" height="auto" src="{{ post.cover_url }}">
              </a>
            </p>
          {% endif %}
        {% endif %}

        <article class="post-summary">
          {% if post.excerpt_separator %}
            {{ post.excerpt }}

            <a href="{{ post.url | prepend: site.baseurl }}">
              {% if post.excerpt_text %}
                {{ post.excerpt_text }}
              {% else %}
                Читать дальше
              {% endif %}
              →
            </a>
          {% else %}
            {{ post.content }}
          {% endif %}
        </article>

        <div>
          <span class="post-meta">
            <small>
              {{ post.date | date: site.date_format }} {% include post_meta_category.html %}
            </small>
          </span>
        </div>
      </div>



    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
