---
layout: category
title: Переводы
permalink: /translations
---

<div>
  <h1>Переводы</h1>
  <p>
    Люблю переводить и озвучивать интересные и полезные видеоролики.
  </p>
</div>

<h2 class="center">Большие лекции о науке</h2>
<div class="posts">
  {% for post in site.posts %}

    {% assign author = site.authors[post.author] %}
    {{ author.display_name }}

  {% if post.category == 'Translations' %}
    {% if post.subcat == 'Science_long' %}
    <div class="post py3">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
      <p class="post-summary">
        {{ post.summary }} <a href="{{ post.url | prepend: site.baseurl }}">Смотреть&nbsp;лекцию&nbsp;→</a>
      </p>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>

<h2 class="center mt4">Речи Ричарда Фейнмана</h2>
<div class="posts">
  {% for post in site.posts %}

    {% assign author = site.authors[post.author] %}
    {{ author.display_name }}

  {% if post.category == 'Translations' %}
    {% if post.subcat == 'Feynman' %}
    <div class="post py3">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>

      <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="post-floating-video">
          <img width="240" height="135" src="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
        </p>
      </a>

      <p class="post-summary">
        {{ post.summary }}
      </p>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>

<h2 class="center mt4">Короткие видео о науке</h2>
<div class="posts">
  {% for post in site.posts %}

    {% assign author = site.authors[post.author] %}
    {{ author.display_name }}

  {% if post.category == 'Translations' %}
    {% if post.subcat == 'Science_short' %}
    <div class="post py3">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="post-floating-video">
          {% if post.video_provider == 'vimeo' %}
          <img width="240" height="135" src="/images/vimeo.png">
          {% else %}
          <img width="240" height="135" src="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
          {% endif %}
        </p>
      </a>
      <p class="post-summary">
        {{ post.summary }}
      </p>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>


<h2 class="center mt4">Короткие видео о жизни</h2>
<div class="posts">
  {% for post in site.posts %}

    {% assign author = site.authors[post.author] %}
    {{ author.display_name }}

  {% if post.category == 'Translations' %}
    {% if post.subcat == 'Life' %}
    <div class="post py3">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h4 class="post-title">{{ post.title }}</h4></a>
      <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="post-floating-video">
          {% if post.video_provider == 'vimeo' %}
          <img width="240" height="135" src="/images/vimeo.png">
          {% else %}
          <img width="240" height="135" src="http://img.youtube.com/vi/{{ post.video_id }}/mqdefault.jpg">
          {% endif %}
        </p>
      </a>
      <p class="post-summary">
        {{ post.summary }}
      </p>
    </div>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
