---
layout: category
title: Ветер дует со стороны гор
permalink: /veter/
---

<p>
  <h1>Ветер дует со стороны гор</h1>
</p>

<p>
Это моя попытка написать фантастический рассказ.
</p>


<div class="pt3">
{% for post in site.posts reversed %}

{% if post.category == 'Veter' %}
<p>
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
    {{ post.title }}
  </a>
</p>
{% endif %}
{% endfor %}

<p class="mt3">До выхода следующей главы осталось от 3 до 3692 дней.</p>
</div>


<hr class="py3">

<div class="posts">
  {% for post in site.posts reversed %}

  {% if post.category == 'Veter' %}
  <div class="post py3">
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
      <h3 class="h2 post-title">{{ post.title }}</h3>
    </a>
    <p>
      {{ post.content }}
    </p>
  </div>
  {% endif %}
  {% endfor %}

</div>

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}