{% if paginator.page == 1 %}
<div class="post p3 p-responsive wrap intro" role="main">
  <div class="measure">
    <div class="posts">
      <div class="post">
        <p class="post-summary">
          Привет! Меня зовут Рахим. Я работаю над образовательным проектом <a href="https://hexlet.io?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Хекслет</a>, сейчас веду там курс <a href="https://en.hexlet.io/courses/intro_to_programming?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Intro to Programming</a>. Смотрите, что я вам принёс:

          <ul>
            <li><a href="/lectures">Лекции</a> <small>среди прочего, про алгоритмы</small></li>
            <li><a href="/articles">Статьи</a> <small>в том числе, о насилии над логикой</small></li>
            <li><a href="/translations">Переводы</a> <small>например, Ричард Фейнман</small> </li>
            <li><a href="/travel">Велопутешествия</a> <small>пока только по Канаде</small></li>
          </ul>
        </p>

        <p class="post-summary">
          Обычно в этом блоге я пишу про <a href="/english">английский язык</a>, размышления о жизни и делюсь <a href="/linker">интересными ссылками</a>.
        </p>

        <p class="post-summary">
          А еще есть <a href="https://hello.rakh.im">блог на английском</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
