{% if paginator.page == 1 %}
<div class="post p3 p-responsive wrap intro" role="main">
  <div class="measure">

    <p>
      Пишу о компьютерах и мире. Веду <a href="https://ru.hexlet.io/blog/categories/podcast?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage"> научно-популярный подкаст</a>.
    </p>


    <div class="clearfix mt2">
      <div class="sm-col sm-col-12 md-col-6">
        <h4>Изучение  мира</h4>
        <ul class="mb0">
          <li><a href="/courses">Курсы</a> <small>по информатике и математике</small></li>
          <li><a href="/articles">Статьи</a> и <a href="/lectures">лекции</a> <small>о логике, мире, компьютерах</small></li>
          <li><a href="/translations">Переводы</a> <small>видео о науке</small> </li>
          <li><a href="/travel">Велопутешествия</a> <small>пока только по Канаде</small></li>
          <li><a href="https://rakhim.org/bookshelf">Книжная полка</a> <small style="color: #860101;"><b>новое</b></small></li>
        </ul>
      </div>
      <div class="sm-col sm-col-12 md-col-6">
        <h4>Блог</h4>
        <ul class="mb0">

          <li><a href="/notes">Заметки</a></li>
          <li><a href="/design">Дизайн</a> <small>интерфейсы и люди</small> </li>
          <li><a href="/mindfulness">Эссе</a> <small>об осознанности</small></li>
          <li><a href="/video">Видеоблог</a> <small>о чем-то</small> </li>
          <li><a href="/veter">Фантастический роман</a> <small>в процессе написания</small></li>
          <li><a href="/english">Заметки</a> <small>об английском</small> </li>

        </ul>
      </div>
    </div>

    {% include english_promo.html %}
  </div>
  <!-- measure end -->
</div>
<!-- wrap end -->
{% endif %}
