{% if paginator.page == 1 %}
<div class="post p3 p-responsive wrap intro" role="main">
  <div class="measure">
    <div class="posts">
      <div class="post">
        <p class="post-summary">
          Привет! <br/>
          Меня зовут Рахим. Я работаю над образовательным проектом <a href="https://hexlet.io?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Хекслет</a>. Попробуйте мой курс <a href="https://ru.hexlet.io/courses/introduction_to_programming?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Введение в программирование</a>. Еще я веду <a href="https://ru.hexlet.io/blog/categories/podcast?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">научно-популярный подкаст</a> и <a href="/english_newsletter_launch/">рассылку для изучающих английский</a>.
        </p>

        <p class="post-summary">
          Я тут принёс вам:

          <ul>
            <li><a href="/lectures">Лекции</a> <small>среди прочего, про алгоритмы</small></li>
            <li><a href="/courses">Курсы</a> <small>по информатике и математике</small></li>
            <li><a href="/articles">Статьи</a> <small>в том числе о насилии над логикой</small></li>
            <li><a href="/english">Английский</a> <small>которого нет в учебниках</small> </li>
            <li><a href="/translations">Переводы</a> <small>например, Ричарда Фейнмана</small> </li>
            <li><a href="/travel">Велопутешествия</a> <small>пока только по Канаде</small></li>
            <li><a href="/linker">Ссылкомат</a> <small>что читать, смотреть и слушать</small> </li>
            <li><a href="/veter">Фантастический роман</a> <small>в процессе написания</small></li>
          </ul>
        </p>

        <p class="post-summary">
          А еще есть <a href="https://hello.rakh.im">блог на английском</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
