{% if post %}
  {% assign categories = post.categories %}
{% else %}
  {% assign categories = page.categories %}
{% endif %}

{% for category in categories %}

  {% if category == "English" %}
   · <a href="/english">Английский язык</a>
  {% endif %}

  {% if category == "Mindfulness" %}
   · <a href="/mindfulness">Осознанность</a>
  {% endif %}

  {% if category == "Articles" %}
   · <a href="/articles">Статьи</a>
  {% endif %}

  {% if category == "Lectures" %}
   · <a href="/lectures">Лекции</a>
  {% endif %}

  {% if category == "Translations" %}
   · <a href="/translations">Переводы</a>
  {% endif %}

  {% if category == "Travel" %}
   · <a href="/travel">Велопутешествия</a>
  {% endif %}

  {% if category == "Notes" %}
   · <a href="/notes">Заметки</a>
  {% endif %}

  {% if category == "Design" %}
   · <a href="/design">Дизайн</a>
  {% endif %}
  
  {% if category == "Linker" %}
   · <a href="/linker">Ссылкомат</a>
  {% endif %}

  {% if category == "Video" %}
   · <a href="/video">Видео</a>
  {% endif %}

  {% if category == "Veter" %}
   · <a href="/veter">Фантастический роман</a>
  {% endif %}

  {% if category == "Books" %}
   · Книги
  {% endif %}

{% endfor %}