<div class="posts">
  {% for post in site.posts limit: 8 %}

  {% if post.featured %}
  <div class="post">
    <p class="post-meta">{{ post.date | date: site.date_format }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="post-title">{{ post.title }}</h3></a>

  </div>
  {% endif %}
  {% endfor %}
</div>


<div class="py2 post-footer">
  <hr />
  <img src="/images/me.jpeg" alt="Rakhim Davletkaliyev" class="avatar" />
  <p>
    Меня зовут Рахим. Я работаю над образовательным проектом <a href="https://hexlet.io?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Хекслет</a>. Попробуйте мой курс <a href="https://ru.hexlet.io/courses/introduction_to_programming?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Введение в программирование</a>. 
  </p>
  <p>
    Ещё я веду <a href="https://ru.hexlet.io/blog/categories/podcast?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">научно-популярный подкаст</a> и <a href="/english_newsletter_launch/">рассылку для изучающих английский</a>.
  </p>
</div>
