blockquote {
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  margin-left: $space-1;
  padding-left: $space-1;
  padding-right: $space-1;
  padding-top: 0;
  padding-bottom: 0;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
