a {
  color: $link-color;
  border-color: rgba(0,96,160,0.15);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a:hover,
a:focus,
a:active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
}

a.nodecoration {
  background-image: none;
}

a.nodecoration:hover,
a.nodecoration:focus,
a.nodecoration:active {
  background-image: none;
}
