footer a {
  color: inherit;
  background-image: none;
}

header a {
  background-image: none;
}

.intro {
  background-color: $footer-bg-color;
  padding-bottom: 1rem;
}

.topline {
  opacity: 0.75;
}

.topline .topline-block {
  width: 20%;
  display: inline;
  float: left;
  height: 5px;
}

.topline #topline-block-1 {
  background-color: #44B3C2;
}
.topline #topline-block-2 {
  background-color: #F1A94E;
}
.topline #topline-block-3 {
  background-color: #E45641;
}
.topline #topline-block-4 {
  background-color: #5D4C46;
}
.topline #topline-block-5 {
  background-color: #7B8D8E;
}

li {
  margin-bottom: 0.5em;
}

.likely__widget_twitter, .likely__widget_facebook, .likely__widget_vkontakte, .likely__widget_telegram {
  fill: #333333;
}

.likely .likely__widget {
  padding: 2px 4px;
}

.site-header .site-nav {
  display: flex;
}

.navigation-cta-btn {
  font-size: 0.75rem !important;
  padding: 0.25rem 1rem;
  border-radius: 0.2rem;
  margin-top: -0.4rem;
  white-space: nowrap;
}

#subscribe-btn {
  background-color: #5d0081;
  color: white;
  margin-left: 1.5em;
}

#donate-btn {
  background-color: #ab7e00;
  color: white;
  margin-left: 0.5em;
  margin-right: 1.5em;
}

.post hr {
  border: 0;
  border-bottom: 2px dashed #f3f3f3;
}