footer a {
  color: inherit;
  background-image: none;
}

header a {
  background-image: none;
}

a.link_nodecor {
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

.intro {
  background-color: $footer-bg-color;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #fff6be;
  border-top: 1px solid #fff6be;
}

.topline {
  opacity: 0.75;
}

.topline .topline-block {
  width: 20%;
  display: inline;
  float: left;
  height: 3px;
}

.topline #topline-block-1 {
  background-color: #44B3C2;
}
.topline #topline-block-2 {
  background-color: #F1A94E;
}
.topline #topline-block-3 {
  background-color: #E45641;
}
.topline #topline-block-4 {
  background-color: #5D4C46;
}
.topline #topline-block-5 {
  background-color: #7B8D8E;
}

li {
  margin-bottom: 0.5em;
}

.likely__widget_twitter, .likely__widget_facebook, .likely__widget_vkontakte, .likely__widget_telegram {
  fill: #333333;
}

.likely .likely__widget {
  padding: 2px 4px;
}

.site-header .site-nav {
  display: flex;
}

.bookshelf_wrapper h1,
.bookshelf_wrapper h2,
.bookshelf_wrapper h3,
.bookshelf_wrapper h4,
.bookshelf_wrapper h5,
.bookshelf_wrapper h6,
.bookshelf_wrapper p,
.bookshelf_wrapper small {
  font-family: Georgia, serif;
}

.bookshelf_wrapper .bookshelf_year {
  overflow: hidden;
  text-align: center;
}

.bookshelf_wrapper .bookshelf_year:before,
.bookshelf_wrapper .bookshelf_year:after {
  background-color: #cacaca;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.bookshelf_wrapper .bookshelf_year:before {
  right: 0.5em;
  margin-left: -50%;
}

.bookshelf_wrapper .bookshelf_year:after {
  left: 0.5em;
  margin-right: -50%;
}

.bookshelf_image_placeholder, .bookshelf_image {
  width: 120px;
  flex: 0 0 100px;
}

.bookshelf_book_author {
  color: #b7b7b7;
  font-weight: 100;
}

.bookshelf_featured_mark {
  color: #ada200;
}

#subscribe-btn {
  color: #6b0055;
  border-bottom: 1px solid rgba(107, 0, 85, 0.36);
}

#donate-btn {
  color: #866800;
  border-bottom: 1px solid rgba(134, 104, 0, 0.28);
  white-space: nowrap
}

.post hr {
  border: 0;
  border-bottom: 2px dashed #f3f3f3;
}

.featured_block {
  margin: 18px 0;
  padding: 19px 18px;
  border: 1px solid #ffdb01;
  border-radius: 4px;
  background: rgba(255, 219, 1, 0.4);
}

.hcc .hc__right {
  padding: 0;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
